---
layout: page
title: Apuntes
name: cursos
slug: cursos
description: >
  Relación de apuntes tomados en cursos que voy haciendo, sobre conceptos clave que necesito entender mejor.
---
<ul>
    {% for curso in site.cursos %}
      <li>
        <h2><a href="/blog/cursos/{{ curso.slug }}">{{ curso.name }}</a></h2>
        {% if curso.cert_link %}
        {% assign curso_cert_link = curso.cert_link %}
          <p><q>{{ curso.description }}</q> ->  <a href="{{ curso.link }}" Target="_blank">Enlace al curso</a> - <a href="{{ curso_cert_link }}" target="_blank">Certificado de finalización</a></p>
        {% else %}
          <p><q>{{ curso.description }}</q> ->  <a href="{{ curso.link }}" Target="_blank">Enlace al curso</a></p>
        {% endif %}
        
        <hr>
      </li>
    {% endfor %}
  </ul>