---
layout: default
---

<div class="container">
  {% if site.tags[page.slug] %}
  	<!-- bucle principal -->
    {% for post in site.tags[page.slug] %}
      {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if forloop.first %}
        <h3 class="year">{{ post_year }}</h3>
        <div class="list-group">
      {% endif %}
      {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
        </div>
        <h3 class="year">{{ post_year }}</h3>
        <div class="list-group">
        {% endif %}
      {% endunless %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ post.title }}</h4>
          <p class="list-group-item-date">{{ post.date | date: "%-d/%-m/%Y" }}</p>
        </a>
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
    <!-- fin bucle principal -->
  {% else %}
    <p>No existen posts para este TAG.</p>
  {% endif %}
</div>