---
layout: default
---


{% for var in site.featured_categories %}
    {% if var.slug == page.category %}
    {% capture category_link %}
    <a class="label" href="{{ site.baseurl }}{{ var.url }}">{{ var.name }}</a>
    {% endcapture %} 
	{% endif %}
{% endfor %}

{% for var in site.cursos %}
    {% if var.slug == page.curso %}
    {% capture curso_link %}
    <a class="label" href="{{ site.baseurl }}{{ var.url }}">{{ var.name }}</a>
    {% endcapture %} 
	{% endif %}
{% endfor %}




<p>Fecha: {{ page.date | date_to_string }} - Autor: <a href="/about">{{ page.author }}</a></p>
<hr>
<p>{% if curso_link %}Formación: {{ curso_link }}{% endif %}</p>
<p class="post-cat">
  {% if category_link %}Post en Categoría: {{ category_link }}{% endif %}
</p>
<p>Etiquetas: / {% for tag in page.tags %}<a href="/blog/tags/{{ tag }}"> {{ tag }} </a>/{% endfor %}</p>

<hr>


{{ content }}

{% if site.related_posts.size >= 1 %}
<div>
  <h3>Artículos relacionados</h3>
  <hr>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}